<html>
    <div class="panel panel-primary">
        <div class="panel-heading"><font size="4">Who are we?</font></div>
        <div class="panel-body"><font size="2">We are Dynamic Portal Systems. Our team is comprised of 
            only the brighest and most forward-thinking minds in the world of software engineering. </font></div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"><font size="4">What we do</font></div>
        <div class="panel-body"><font size="2">Our goal is to improve the quality of throughput
            in non-profit models by creating asynchronous, portal-based environments which are stable
            and secure. We provide a generic product to act as a framework for any non-profit group
            to go paperless while making the transition as easy as possible.
        </font></div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"><font size="4">How you can help</font></div>
        <div class="panel-body"><font size="2">You can donate via paypal.me by clicking the donate
            button on the top of your screen. You can create an account and sign up for events and jobs
             by clicking the login/register button on the top right corner of the screen.</font></div>
      </div>
</html>