<html>
    <div class="panel panel-primary">
        <div class="panel-heading"><font size="4">Donate!</font></div>
        <div class="panel-body"><font size="2"><a href="https://www.paypal.me">Paypal</a></font></div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"><font size="4">Who are we?</font></div>
        <div class="panel-body"><font size="2">Dynamic Portal systems!</font></div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"><font size="4">FAQ</font></div>
        <div class="panel-body"><font size="2">Where is the money going to?</font></div>
        <div class="panel-body"><font size="2">Charity!</font></div>
      </div>
</html>