<div class="col-md-8 col-md-push-2">
    <h3>{{ event?.name }}</h3><br />
    <strong>Date:</strong> {{ event?.startTime | date:'fullDate'}} <br />
    <strong>Time:</strong> {{ event?.startTime | date:'shortTime'}} - {{ event?.endTime | date:'shortTime'}} <br /><br />
    {{ event?.description }}<br /><br />
    <strong>JOBS:</strong> <input *ngIf="authService.getPermissions()?.admin" (click)="addJob()" type="button" class="btn btn-primary" value="Add Job">
    <div class="row">
        <div class="col-md-4" *ngFor="let job of event?.jobs">
            <div class="panel" [ngClass]="getClasses(job)">
                <div class="panel-heading">
                    {{ job.name }}
                </div>
                <div class="panel-body">
                        Date: {{ job.startTime | date:'fullDate'}} <br />
                        Time: {{ job.startTime | date:'shortTime'}} - {{ job.endTime | date:'shortTime'}}
                        <span *ngIf="job.volunteer && job.volunteer?.ID >= 0"><br />
                            Volunteer: <a [href]="'mailto:' + job.volunteer.email">{{ job.volunteer.name }}</a>
                        </span>
                </div>
                <div class="panel-footer">
                    <span *ngIf="job.volunteer; then filled else open"></span>
                    <ng-template #filled><input (click)="unVolunteer(job.ID)" type="button" class="btn btn-danger" [value]="authService.user?.ID != job.volunteer?.ID ? 'Filled' : 'Unregister'" [disabled]="authService.user?.ID != job.volunteer?.ID"></ng-template>
                    <ng-template #open><span tooltip="{{!authService.isAuthorized() || isVolunteered() ? 'Please sign in before volunteering!': ''}}"><input (click)="volunteer(job.ID)" type="button" class="btn btn-primary" value="Volunteer" [disabled]="!authService.isAuthorized() || isVolunteered()"></span></ng-template>
                    <input *ngIf="authService.getPermissions()?.admin" (click)="editJob(job.ID)" type="button" class="btn btn-primary" value="Edit Job">
                </div>
            </div>
        </div>
    </div>
</div>
