<div class="col-md-4" *ngFor="let event of events">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{ event.name }}
        </div>
        <div class="panel-body">
                Date: {{ event.startTime | date:'fullDate'}} <br />
                Time: {{ event.startTime | date:'shortTime'}} - {{ event.endTime | date:'shortTime'}} <br /><br />
                {{ event.description }}
        </div>
        <div class="panel-footer">
            <input [routerLink]="['/event', event.id]" type="button" class="btn btn-primary" value="Details">
            <input *ngIf="authService.getPermissions()?.admin" [routerLink]="['event', 'edit', event.id]" type="button" class="btn btn-primary" value="Edit Job">
            <input *ngIf="authService.getPermissions()?.admin" [routerLink]="['event', 'edit', 'Delete', event.id]" type="button" class="btn btn-danger" value="Delete">
        </div>
    </div>
</div>